# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# dotenv
.env

# System
Thumbs.db
